#### Memasukan Library Pandas agar dapat membaca file csv atau data

#### Memasukan Library numpy untuk operasi matematika yang efisien.

In [245]:
import pandas as pd
import numpy as np

#### Untuk Membaca Dataset

In [246]:
df = pd.read_csv("Car_Insurance_Claim.csv")

#### 1. Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

Merupakan bagian dari pustaka Scikit-Learn yang berfokus pada alat-alat untuk pembelajaran mesin (machine learning).

 Ini adalah pernyataan yang mengimpor fungsi train_test_split dari modul model_selection dalam pustaka Scikit-Learn.

In [247]:
from sklearn.model_selection import train_test_split

x = df.iloc[:,:18].values: Untuk Mengambil nilai-nilai dari 1 sampai kolom 18 dalam dataset

y = df.iloc[:,-1].values: Ini adalah langkah untuk mengambil nilai-nilai dari kolom terakhir dalam dataset

In [248]:
x = df.iloc[:,:18].values
y = df.iloc[:,-1].values

30% dari data akan digunakan sebagai dataset pengujian, sementara 70% akan digunakan sebagai dataset pelatihan.

In [249]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.3, random_state=0)

Menampilkan ukuran Dari train dan test x dan y

In [250]:
print("Ukuran training set (x_train):", x_train.shape)
print("Ukuran testing set (x_test):", x_test.shape)
print("Ukuran training set (y_train):", y_train.shape)
print("Ukuran testing set (y_test):", y_test.shape)

Ukuran training set (x_train): (7000, 18)
Ukuran testing set (x_test): (3000, 18)
Ukuran training set (y_train): (7000,)
Ukuran testing set (y_test): (3000,)

#### 2. Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler

mengimport modul MinMaxScaler dari pustaka Scikit-Learn (sklearn) digunakan untuk melakukan normalisasi data.

In [251]:
from sklearn.preprocessing import MinMaxScaler

membuat copy pada dataset dan membuat variabel hanya berisi Kolom CREDIT_SCORE

In [252]:
df2 = df.copy()
df3 = df2[['CREDIT_SCORE']]

scaler, agar dapat menggunakannya untuk melakukan normalisasi pada data. dalam proses normalisasi data menggunakan Min-Max scaling.

In [253]:
scaler = MinMaxScaler()

melakukan normalisasi pada DataFrame df3 dengan menggunakan objek scaler yang sebelumnya telah dibuat 
dan menyimpannya dalam variabel n

In [254]:
n = scaler.fit_transform(df3)


print(np.nanmax(n)) pernyataan untuk mencetak nilai maksimum dari array n menggunakan fungsi np.nanmax(). dan menampilkan atribut yang telah di normalisas

In [255]:
print(np.nanmax(n))
print(n)

1.0000000000000002
[[0.63437392]
 [0.33544084]
 [0.48463582]
 ...
 [0.46016584]
 [0.34252397]
 [0.42080829]]

#### 3. Lakukan standarisasi pada dataset

mengimpor modul StandardScaler dari pustaka Scikit-Learn (sklearn).

digunakan dalam pra-pemrosesan data dalam analisis data dan  untuk melakukan standardisasi data

In [256]:
from sklearn.preprocessing import StandardScaler

membuat copy dari dataset dan emnyimpanya pada df4 dan menyiman setiap atribut numerik kedalam datastan

In [257]:
df4 = df.copy()
datastan = ["ID","CREDIT_SCORE","VEHICLE_OWNERSHIP","MARRIED","CHILDREN", "POSTAL_CODE", "ANNUAL_MILEAGE","SPEEDING_VIOLATIONS","DUIS","PAST_ACCIDENTS"]

ss yang menggunakan StandardScaler() dari pustaka Scikit-Learn (sklearn). proses standardisasi data menggunakan teknik Standard Scaling.

In [258]:
ss = StandardScaler()

untuk melakukan standardisasi pada kolom-kolom tertentu dalam DataFrame df4.

In [259]:
df4[datastan] = ss.fit_transform(df4[datastan])

Kode np.std(df4[datastan]) digunakan untuk menghitung deviasi standar dari data dalam kolom-kolom yang telah distandardisasi (kolom-kolom dalam DataFrame df4 yang terdapat dalam datastan)

In [260]:
np.std(df4[datastan])

c:\Users\HP\AppData\Local\Programs\Python\Python310\lib\site-packages\numpy\core\fromnumeric.py:3571: FutureWarning: The behavior of DataFrame.std with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return std(axis=axis, dtype=dtype, out=out, ddof=ddof, **kwargs)

ID                     1.0
CREDIT_SCORE           1.0
VEHICLE_OWNERSHIP      1.0
MARRIED                1.0
CHILDREN               1.0
POSTAL_CODE            1.0
ANNUAL_MILEAGE         1.0
SPEEDING_VIOLATIONS    1.0
DUIS                   1.0
PAST_ACCIDENTS         1.0
dtype: float64

Setelah di standarisasi

In [261]:
df4.head()

,ID,AGE,GENDER,RACE,DRIVING_EXPERIENCE,EDUCATION,INCOME,CREDIT_SCORE,VEHICLE_OWNERSHIP,VEHICLE_YEAR,MARRIED,CHILDREN,POSTAL_CODE,ANNUAL_MILEAGE,VEHICLE_TYPE,SPEEDING_VIOLATIONS,DUIS,PAST_ACCIDENTS,OUTCOME
0,0.237911,65+,female,majority,0-9y,high school,upper class,0.822299,0.659333,after 2015,-0.996406,0.672161,-0.508946,0.107511,sedan,-0.661462,-0.43102,-0.639263,0.0
1,0.861480,16-25,male,majority,0-9y,none,poverty,-1.147989,-1.516684,before 2015,-0.996406,-1.487739,-0.508946,1.526817,sedan,-0.661462,-0.43102,-0.639263,1.0
2,-1.036566,16-25,female,majority,0-9y,high school,working class,-0.164635,0.659333,before 2015,-0.996406,-1.487739,-0.508946,-0.247315,sedan,-0.661462,-0.43102,-0.639263,0.0
3,-0.074671,16-25,male,majority,0-9y,university,working class,-2.250138,0.659333,before 2015,-0.996406,0.672161,0.682034,-0.247315,sedan,-0.661462,-0.43102,-0.639263,0.0
4,0.796997,26-39,male,majority,10-19y,none,working class,-0.925672,0.659333,before 2015,-0.996406,-1.487739,0.682034,0.107511,sedan,0.230657,-0.43102,-0.034072,1.0

#### 4. Lakukan Data cleaning pada data dengan nilai null

mengimpor modul SimpleImputer dari pustaka Scikit-Learn (sklearn).digunakan dalam pra-pemrosesan data untuk mengisi (impute) nilai-nilai yang hilang dalam dataset dengan nilai-nilai tertentu

dan membuat beberapa atribut dan record menjadi null

In [282]:
from sklearn.impute import SimpleImputer
df.loc[342, 'DRIVING_EXPERIENCE'] = np.nan
df.loc[142, 'DRIVING_EXPERIENCE'] = np.nan
df.loc[242, 'DRIVING_EXPERIENCE'] = np.nan
df.loc[233, 'DUIS'] = np.nan

Untuk menampilkan Atribut mana saja yang memiliki null dan berapa banyak yang null

In [283]:
df.isnull().sum()

ID                       0
AGE                      0
GENDER                   0
RACE                     0
DRIVING_EXPERIENCE       3
EDUCATION                0
INCOME                   0
CREDIT_SCORE           982
VEHICLE_OWNERSHIP        0
VEHICLE_YEAR             0
MARRIED                  0
CHILDREN                 0
POSTAL_CODE              0
ANNUAL_MILEAGE         957
VEHICLE_TYPE             0
SPEEDING_VIOLATIONS      0
DUIS                     1
PAST_ACCIDENTS           0
OUTCOME                  0
dtype: int64

SimpleImputer dengan strategi 'mean' (strategy='mean') untuk mengisi nilai-nilai yang null dalam kolom 'ANNUAL_MILEAGE' dan 'CREDIT_SCORE dengan tipe data Float dari DataFrame df.

In [285]:
imputer_mean = SimpleImputer(strategy='mean')
df["ANNUAL_MILEAGE"] = imputer_mean.fit_transform(df[["ANNUAL_MILEAGE"]])

imputer_mean = SimpleImputer(strategy='mean')
df["CREDIT_SCORE"] = imputer_mean.fit_transform(df[["CREDIT_SCORE"]])

SimpleImputer dengan strategi 'median' (strategy='median') untuk mengisi nilai-nilai null dalam kolom 'DUIS' dengan tipe data int dari DataFrame df.

In [286]:
imputer_median = SimpleImputer(strategy='median')
df["DUIS"] = imputer_median.fit_transform(df[["DUIS"]])

menggunakan metode fillna pada kolom 'DRIVING_EXPERIENCE' dari DataFrame df dengan tipe data object untuk mengisi nilai-nilai null dengan modus dari kolom tersebut.

In [287]:
df["DRIVING_EXPERIENCE"].fillna(df["DRIVING_EXPERIENCE"].mode()[0], inplace=True)

Mengecek apakah  Masih ada yang Null

In [288]:
print(df.isna().sum())

ID                     0
AGE                    0
GENDER                 0
RACE                   0
DRIVING_EXPERIENCE     0
EDUCATION              0
INCOME                 0
CREDIT_SCORE           0
VEHICLE_OWNERSHIP      0
VEHICLE_YEAR           0
MARRIED                0
CHILDREN               0
POSTAL_CODE            0
ANNUAL_MILEAGE         0
VEHICLE_TYPE           0
SPEEDING_VIOLATIONS    0
DUIS                   0
PAST_ACCIDENTS         0
OUTCOME                0
dtype: int64

#### 5. Lakukan Data cleaning pada data dengan nilai duplikat.

Karena Tidak Ada duplikat maka akan dilakukan duplikat pada dataset

In [290]:
n_baris_duplikat = 1
data_duplikat = pd.concat([df] * n_baris_duplikat, ignore_index=True)
    
# Gabungkan data asli dengan data duplikat
data_with_duplicates = pd.concat([df, data_duplikat], ignore_index=True)
data_with_duplicates.to_csv('file_with_duplicates.csv', index=False)

Mengecek berapa bnayak data yang duplicat

In [291]:
data_with_duplicates.duplicated().sum()

10000

Menhapus data duplicat dan Mengecek berapa banyak data yang duplicat

In [292]:
data_with_duplicates.drop_duplicates(inplace=True)
data_with_duplicates.duplicated().sum()

0

#### 6. Ganti tipe data salah satu attribute angka

df.dtypes digunakan untuk menampilkan tipe data (data types) dari setiap kolom (fitur) dalam DataFrame df

In [273]:
df.dtypes

ID                       int64
AGE                     object
GENDER                  object
RACE                    object
DRIVING_EXPERIENCE      object
EDUCATION               object
INCOME                  object
CREDIT_SCORE           float64
VEHICLE_OWNERSHIP      float64
VEHICLE_YEAR            object
MARRIED                float64
CHILDREN               float64
POSTAL_CODE              int64
ANNUAL_MILEAGE         float64
VEHICLE_TYPE            object
SPEEDING_VIOLATIONS      int64
DUIS                     int64
PAST_ACCIDENTS           int64
OUTCOME                float64
dtype: object

mengubah tipe data kolom 'MARRIED' dalam DataFrame df menjadi int64 menggunakan metode .astype('int64').

In [274]:
df['MARRIED'] = df['MARRIED'].astype('int64')
df['MARRIED'].dtype

dtype('int64')

#### 7. Lakukan one hot encoding pada dataset yang kalian miliki

mengimpor kelas OneHotEncoder dari library Scikit-Learn (sklearn). digunakan dalam pra-pemrosesan data data kategorikal atau variabel kualitatif

In [275]:
from sklearn.preprocessing import OneHotEncoder

menggunakan variabel one untuk melakukan one-hot encoding pada kolom 'OUTCOME' dari DataFrame df

In [276]:
one = OneHotEncoder(sparse_output=False)
Encoded = one.fit_transform(df[['OUTCOME']])
Encoded

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       ...,
       [1., 0.],
       [0., 1.],
       [1., 0.]])

membuat DataFrame baru hotenco dari hasil one-hot encoding yang telah dilakukan sebelumnya.

In [277]:
hotenco = pd.DataFrame(Encoded, columns=['1','2'])
hotenco

        1    2
0     1.0  0.0
1     0.0  1.0
2     1.0  0.0
3     1.0  0.0
4     0.0  1.0
...   ...  ...
9995  1.0  0.0
9996  1.0  0.0
9997  1.0  0.0
9998  0.0  1.0
9999  1.0  0.0

[10000 rows x 2 columns]